<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>
<body>
    <table>
        <tr>
            <td>用户名:</td>
            <td><input type="text" id="userName" placeholder="用户名"/></td>
        </tr>
        <tr>
            <td>密码:</td>
            <td><input type="password" id="password" placeholder="密码长度6-8位"/></td>
        </tr>
        <tr>
            <td clospan=2>
                <a href='/login'>登录</a>
            </td>
        </tr>
        <tr>
            <td clospan=2>
                <button id="submit">注册</button>
            </td>
        </tr>
    </table>
</body>
</html>
<script src="/config/index.js"></script>
<script src="/vendor/jquery.min.js"></script>
<script src="/pageScripts/reg.js"></script>